DISCORD_TOKEN = ""
DISCORD_CLIENT_ID = ""
DISCORD_TARGET_CHANNEL_ID = ""
DISCORD_TARGET_FUN_FACTS_CHANNEL_ID = ""

# Api key connecting to kkol.pl api
WEB_API_KEY=""
WEB_API_URL="" # If undefined then fallback to https://kkol.pl